.main-1{
    color: red;
    height: 900px;
    width: 900px;
    font-size: larger;
    font-style: italic;
    background-color: brown;
    background-image: url(./img/1625619950_5393a32467_c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.main-2{
       color:blue;
       height: 900px;
       width: 900px;
       font-size: larger;
       font-style: italic;
       background-color: blue;
       background-image: url(./img/plumeria-flowers-buds-green-wallpaper-preview.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: 50% 50%;
       background-attachment: fixed;
}
